@import '../../../scss/constant.scss';
@import '../../../scss/mixin.scss';
.shelf-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: auto;
  box-shadow: 5px 0 15px -5px $primary-monotone;
  .shelf-search {
    width: 100%;
    padding: 10px;
    border: none;
  }
  .shelf-book {
    @include displayInlineBlockHidden;
    vertical-align: initial;
    cursor: pointer;
    width: 20%;
    padding: 10px;
    .shelf-image {
      width: 100%;
    }
    .shelf-title,
    .shelf-price {
      @include ellipsis();
      padding: 4px 0;
    }
    .shelf-price {
      text-align: right;
    }
  }
}